<input type="text" style="width: 33%" id="name" class="form-control" placeholder="Username" style="border: 1px black solid; font-size: 1.3em;" autofocus>
<select id="server">
    <option value="room">Server 1</option>
    <option value="room2">Server 2</option>
</select>
<select id="channelname">
    <option value="lobby">General Chat</option>
</select>
<button id="switchsocket">Switch Server</button>

<ul id="msg-list" style="list-style: none; min-height:670px;">
</ul>
  <div class="col-xs-9" style="width: 100%; margin-left: 0; ">
    <input type="text" id="msg" class="form-control" placeholder="Message" style="border: 1px black solid; font-size: 1.3em;">
  </div>
